*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
}

.font-Sora{
    font-family: 'Sora', sans-serif;
}
.font-Sora p,.input-wh,.checklogin p{
    font-weight: 400;
}
.font-Sora h3{
    font-weight: 700;
}

.container span,.btn-purple{
    font-weight: 600;
}

p{
    margin-bottom:4px;
}
.email{
    margin-top: 40px;
}
.password{
    margin-top:24px;
}

.box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form img{
    position: absolute;
    width: 21px;
    top: 234px;
    right: 18px;

}

#checklogin{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
}

.input-wh,.btn-purple{
    width: 400px;
    height: 56px;
    border-radius: 16px;
    padding-left: 16px;
    border: 1px solid #E0E0E0;

}

::placeholder{
    color: #BDBDBD;

}

.btn-purple{
    background: #482D83;
    color: white;
    border: none;
    transition: 0.5s;
}

.btn-purple:hover{
    background: #564696;
    transition: 0.5s;
}